{% extends 'base.html.twig' %}

{% block body %}
    <h1>Word list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Count</th>
                <th>Links</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td><a href="{{ path('word_show', { 'id': word.id }) }}">{{ word.id }}</a></td>
                <td>{{ word.value }}</td>
                <td>{{ word.count }}</td>
                <td>{{ word.links|length }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('word_show', { 'id': word.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('word_edit', { 'id': word.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('word_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
